<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            Tables and Orders
            <!-- <small>Version 2.0</small> -->
        </h1>
    </section>

    <section class="content">

        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-body">

                        <div class="text-right">
                            <a class="btn btn-success" routerLink="/add-order" role="button"> <i class="fa fa-plus-circle"></i> New Order</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </section>


</div>
<!-- /.content-wrapper -->