@import "../node_modules/ng2-slim-loading-bar/style.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

.validation-error {
    padding: 10px;
    background-color: #fb9191;
    color: white;
}