@import "../node_modules/ng2-slim-loading-bar/style.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

.validation-error {
    padding: 2px;
    background-color: #fb9191;
    color: white;
}

.open-order {
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 10px;

    -webkit-box-shadow: 1px 5px 35px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 35px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 5px 35px -6px rgba(0,0,0,0.75);
}

.free-table {
    padding: 10px;
    background-color: #00a65a;
    color: white;
    margin-bottom: 20px;
}

tr.grand-total {
    background-color: lightgray;
    font-weight: bold;
}