<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li *ngFor="let tabTitle of groupedItems | keys; let i = index" role="presentation" class="{{ i == 0 ? 'active' : '' }}">
            <a href="#{{tabTitle | slugify}}" aria-controls="tab" role="tab" data-toggle="tab">{{tabTitle}}</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div *ngFor="let tabTitle of groupedItems | keys; let i = index" 
          role="tabpanel" 
          class="tab-pane {{ i == 0 ? 'active' : '' }}" 
          id="{{tabTitle | slugify}}">
            <div style="display: flex; flex-wrap: wrap;">

              <div 
                *ngFor="let item of groupedItems[tabTitle]" 
                style="width: 150px; text-align: center; margin: 2px; cursor: pointer;"
                (click)="itemClicked(item)">
                  <img [src]="baseImagePath + item.picture" style="width: 150px; height: 150px; object-fit: cover;">
                  <small style="width: 150px;">
                    {{item.name}}
                  </small>
              </div>

            </div>
        </div>
    </div>
</div>

