<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  
    <section class="content-header">
      <h1>
        Settings
        <!-- <small>Version 2.0</small> -->
        
        
        
      </h1>
      
    </section>
  
    <section class="content">
  
      <div class="row">
  
        <div class="col-md-12">
          <div class="box box-primary">
  
            <div class="box-body">

              
              <table class="table table-condensed table-bordered table-hover">
                <thead>
                  <tr>
                      <th>Settings Group</th>
                      <th>Setting</th>
                      <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let setting of settings">
                      <td>{{setting.group}}</td>
                      <td>{{setting.setting}}</td>
                      <td>
                        <input type="{{setting.type}}" [(ngModel)]="setting.value" class="form-control" pattern="" title="">
                      </td>
                  </tr>
                </tbody>
              </table>

              <br>
              <div class="text-right">
                <button (click)="saveSettings()" type="button" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                  Save
                </button>
              </div>
              

            </div>
          </div>
        </div>
      </div>
    </section>
</div>